@font-face {
    font-family: "NotoSansNF";
   src: url("assets/fonts/NotoSansNerdFont-Regular.ttf") format("truetype");
   /* url("mycustomfont.woff2") format("woff2"), */
   /* url("mycustomfont.woff") format("woff"), */
}

/* Catppuccin Mocha colors*/
:root {
    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;    /* My fav :) */

    --color-text: #cdd6f4;
    --color-subtext1: #bac2de;
    --color-subtext0: #a6adc8;
    --color-overlay2: #9399b2;
    --color-overlay1: #7f849c;
    --color-overlay0: #6c7086;
    --color-surface2: #585b70;
    --color-surface1: #45475a;
    --color-surface0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: NotoSansNF,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text);
}

body {
    padding: 1em;
    background-color: var(--color-base);
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
    font-family: NotoSansNF,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--color-text);
}

nav a:hover {
    text-decoration: underline;
}

header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-mantle);
    padding: min(2em, 15%);
    border-radius: 0em;
    border: 2px solid var(--color-lavender)
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 0em;
    object-fit: cover;
    object-position: center;  /* If cropped, how, dep on picture */

    border: 2px solid var(--color-green)
}

.text-container {
    flex: 0 1 34em; /* Keeps text in readable width */
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.1rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-surface0);
    padding: .5em 1em;
    border-radius: 0em;
    font-weight: 600;
    border: 2px solid var(--color-surface1);
}

.cta-button:hover {
    background-color: var(--color-surface1);
    border-color: var(--color-surface2);
}

.secondary {   /* Currently unused and colors are scuffed */
    background-color: #b4befecb;
    border: 2px solid var(--color-lavender);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-mantle);
    border: 2px solid var(--color-teal);
    text-align: center;
}

section img {
    max-width: 100%;
    border-radius: 0em;
    object-fit: cover;
    object-position: center;

    border: 2px solid var(--color-green)
}
