/*@import "assets/fonts/jetbrainsmono-nerd-font.css";
@import "assets/fonts/notosans-nerd-font.css"; */

@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face {
    font-family: 'JetBrainsMono Nerd Font';
    src: url('assets/fonts/jetbrainsmono-nf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'NotoSans Nerd Font';
    src: url('assets/fonts/notosans-nf.woff2') format('woff2');
}

/* Catppuccin Mocha colors*/
:root {
    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;    /* My fav :) */

    --color-text: #cdd6f4;
    --color-subtext1: #bac2de;
    --color-subtext0: #a6adc8;
    --color-overlay2: #9399b2;
    --color-overlay1: #7f849c;
    --color-overlay0: #6c7086;
    --color-surface2: #585b70;
    --color-surface1: #45475a;
    --color-surface0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
}

/* Combination of catppuccin frappe and custom colors */
.lightmode {
    --color-rosewater: #f2d5cf;
    --color-flamingo: #eebebe;
    --color-pink: #f4b8e4;
    --color-mauve: #ca9ee6;
    --color-red: #e78284;
    --color-maroon: #ea999c;
    --color-peach: #ef9f76;
    --color-yellow: #e5c890;
    --color-green: #a6d189;
    --color-teal: #81c8be;
    --color-sky: #99d1db;
    --color-sapphire: #85c1dc;
    --color-blue: #8caaee;
    --color-lavender: #babbf1;   

    --color-text: #583101;
    --color-subtext1: #603808;
    --color-subtext0: #6F4518;
    --color-overlay2: #8B5E34;
    --color-overlay1: #A47148;
    --color-overlay0: #BC8A5F;
    --color-surface2: #D4A276;
    --color-surface1: #E7BC91;
    --color-surface0: #F3D5B5;
    --color-base: #FFEDD8;
    --color-mantle: #fceddd;
    --color-crust: #fef4ea;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    font-family: 'NotoSans Nerd Font';
    padding: 0;
    height: 100%;
    background-color: var(--color-crust);
    color: var(--color-text);
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

hr {
    color: var(--color-surface1);
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0em;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;  /* If cropped, how, dep on picture */
}

table {
    table-layout: fixed;
    width: min(1000px, 100%);
    text-align: left;
}

code {
    font-family: 'JetBrainsMono Nerd Font', monospace;
}

/* Codeblocks are done trough prismjs */
.codeblock {
    overflow-x: scroll;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
}

header {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    width: min(75em, 100%);
    background-color: var(--color-mantle);
    padding: min(2em, 15%);
    border-radius: 0em;
    border: 2px solid var(--color-lavender);
    align-items: center;
    display: flex;
}

section {
    padding: 2em min(2em, 15%);
    background-color: var(--color-mantle);
    border: 2px solid var(--color-overlay0);
    text-align: left;
    margin: 2em auto;
    width: min(75em, 100%);
}

section img {
    max-width: 100%;
    border-radius: 0em;
    object-fit: cover;
    object-position: center;
}

section p {
    margin-top: 1em;
}

.page-content {    /* To allow separate colors for contents and footer */
    padding: 1em;
    background-color: var(--color-base); /* This so I can have empty space under
    footer on vertical tabs blend in with the footer */
}

/* || Top navigation/header stuff */

#navigation-bar {
    margin: 0em auto 0em auto;
    width: min(1000px, 100%);
    background-color: var(--color-mantle);
    display: flex;
    list-style-type: none;
    overflow: hidden;
    align-items: center;
}

#navigation-bar #navbar-links {
    display: flex;
    list-style-type: none;
    gap: 2em;
    margin-left: auto;
    margin-right: 2em;
}

#navigation-bar #navTitle {
    margin-right: auto;
    font-weight: bold;
}

#navigation-bar a {
    text-decoration: none;
    color: var(--color-text);
    display: block;
    padding: 0.5em 0.5em;
}

#navigation-bar a:hover {
    text-decoration: underline;
}

#menu {
    color: var(--color-text);
    display: none;
    gap: 3em;
    justify-content: left;
    flex-flow: wrap;
    align-items: flex-start;
    margin-top: 1em;
}

#menu a {
    color: var(--color-text)
}

#menu .menu-column {
    line-height: 120%;
    margin-top: -1em;
}

#hamburger-container {
    display: flex;
    color: var(--color-text);
    align-items: flex-end;
    height: fit-content;
    margin-right: 0;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: auto;
}

#hamburger-container span {
    position: relative;
    color: var(--color-text);
    scale: 1.3;
    margin-left: 0em;
    anchor-name: --hamburger-icon;
}

#navigation-bar {
    display: flex;
}

/* theme switcher */

#theme-switch {
    height: 50px;
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position-anchor: --hamburger-icon;
    position: absolute;
    position-area: center;
    top: 3em;
}

#theme-switch span {
    scale: 1.2;
}

#theme-switch span:first-child {
    display: none;
}

.lightmode #theme-switch span:last-child {
    display: none;
}

.lightmode #theme-switch span:first-child {
    display: block;
}

/* Active page color in header */

#navigation-bar .activePage,
#menu .activePage {
    color: var(--color-lavender);
    font-weight: bold;
    /* text-decoration: underline; */
}

.flex-container {
    display: flex;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.text-container {
    flex: 0 1 34em; /* Keeps text in readable width */
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.1rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-surface0);
    padding: .5em 1em;
    border-radius: 0em;
    margin: 0.2em;
    font-weight: 600;
    border: 2px solid var(--color-surface1);
    transition: 100ms ease;
}

.cta-button:hover {
    background-color: var(--color-surface1);
    border-color: var(--color-surface2);
    scale: 1.03;
    text-decoration: none;
}

.secondary {   /* Currently unused and colors are scuffed */
    background-color: #b4befecb;
    border: 2px solid var(--color-lavender);
}

.small-textbox {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-base);
    padding: .5em 1em;
    border-radius: 0em;
    font-weight: 600;
    font-size: 3;
    margin: 0.2em;
    border: 2px solid var(--color-surface0);
}

/* || Systeminfo in about */

.systeminfo {
    border-color: var(--color-maroon);
    padding: 5em 0em;
    text-align: center;
}

.systeminfo table {
    margin-left: auto;
    margin-right: auto;
    width: min(50em, 80%);
    background-color: var(--color-base);
}

.systeminfo table, 
.systeminfo td, 
.systeminfo th {
    border: 1px solid var(--color-surface0);
    border-collapse: collapse;
    padding: 0.5em;
}

/* || Link list in links.html */

.link-container {
    border: 2px solid var(--color-text);
    background-color: var(--color-base);
    width: (50em, 80%);
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2em;
    margin-bottom: 2em;
}

.link-container .text-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.link-container #large-link-icon {
    scale: 8;
    margin: 4em;
    font-style: normal;
}

.link-container #small-link-icon {
    display: none;
}

.link-container .cta-button,
.link-container .small-textbox {
    font-size: large;
    margin-left: 0;
}

/* || Recent posts section */

#recent-posts {
    padding: 2em;
}

.card-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2em;
    margin-left: 2em;
    margin-right: 2em;
    justify-content: center;
    margin-top: 1em;
}

.card {
    padding: 2em;
    background-color: var(--color-base);
    border: 2px solid var(--color-surface0);
    max-width: 400px;
}

/* || Footer */

footer {
    width: 100%;
    background-color: var(--color-crust);
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid var(--color-mantle);
    height: auto;
}

footer li {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

footer a {
    color: var(--color-text);
    font-style: none;
    text-decoration: none;
    padding: 0.4em;
}

footer a:hover {
    text-decoration: underline;
}

/* || Basic Grid layout */

.grid-content {
    width: min(75em, 100%);
    margin: 0 auto;
    column-gap: 2em;
    display: grid;
    grid-template-areas:
    "side-section main-section"
    "side-section main-section";
    grid-template-columns: 20em auto;
    padding-bottom: 2em;
}

.grid-content section {
    margin-top: 0;
    margin-bottom: 0;
}

.side-section {
    grid-area: side-section;
    max-width: 100%;
}

.side-section section,
.main-section section{
    margin-bottom: 2em;
}

.main-section {
    grid-area: main-section;
}


.main-section iframe {
    height: 40em;
    width: 100%;
}

/* || Blog */

.blog-entry .blog-header {
    text-align: center;
    margin-bottom: 1em;
}

.blog-header h4 {
    margin-bottom: 1em;
}

.blog-entry {
    margin-left: auto;
    margin-right: auto;
    width: min(40em, 100%);
    padding: 1em;
}

.blog-entry p {
    padding-bottom: 0.75em;
    padding-top: 0.75em;
    font-size: large;
    letter-spacing: normal;
    line-height: normal;
}

.blog-entry.blog-header p {
    padding-bottom: 1em;
    font-size: large;
}

.blog-tagline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    flex-wrap: wrap;
}

.blog-tagline li {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.microblog {
    height: 62.8%;
    overflow: auto;
    min-width: 0;
}

.site-updates {
    height: 30%;
    overflow: auto;
    min-width: 0;
}

/* || Small Devices */

/* These will only apply to screens <1101px */
@media(max-width: 1100px) {  
    .text-container {
        padding-top: 0;
        text-align: center;
    }

   section h1, section h2,
   section h3, section h4,
   section h5, section h6 {
        text-align: center;
    }

    .link-container .text-container,
    .link-container h2 {
        text-align: left;
    }

    /* Settings for recent post sections in index.html */
    .card-container {
        display: flex;
        flex-direction: column;
        margin-left: 0em;
        margin-right: 0em;
    }

    .card {
        max-width: 100%;
    }
}


@media(max-width: 800px) {  

    /* Settings for basic grid layout */
    .grid-content {
        display: block;
    }

    .grid-content section {
        margin-bottom: 2em;
    }

    .grid-content section.side-section {
        max-height: 10em;
    }
}

/* For mobile, hamb. menu, less padding etc. */
@media(max-width: 640px) {  

    #navigation-bar #navbar-links {
        display: none;
        margin-left: auto;
        margin-right: auto;
    }

    #hamburger-container {
        padding-bottom: 1em;
    }

    #menu .menu-column {
        width: 100%;
    }

    .cta-button,
    .small-textbox {
        margin-top: 0.5em;
        width: 100%;
    }

    /* Link page has interesting stuff with the icons, has to be here as well */

    .link-container #large-link-icon {
        display: none;
    }

    .link-container #small-link-icon {
        display: initial;
    }

    .link-container .text-container {
        padding: 0;
    }

    .link-container {    /* These two for fixing link padding issues on mobile */       
        padding: 1em;
    }               

    #ProfileLinks {
        padding: 0.2em;
    }
}    

/* || Transitions between pages || */
/* White flash on chromium? Does not yet work on firefox */

@view-transition {
    navigation: none;
}


