@font-face {
    font-family: "NotoSansNF";
   src: url("assets/fonts/NotoSansNerdFont-Regular.ttf") format("truetype");
   /* url("mycustomfont.woff2") format("woff2"), */
   /* url("mycustomfont.woff") format("woff"), */
}

@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* Catppuccin Mocha colors*/
:root {
    --color-rosewater: #f5e0dc;
    --color-flamingo: #f2cdcd;
    --color-pink: #f5c2e7;
    --color-mauve: #cba6f7;
    --color-red: #f38ba8;
    --color-maroon: #eba0ac;
    --color-peach: #fab387;
    --color-yellow: #f9e2af;
    --color-green: #a6e3a1;
    --color-teal: #94e2d5;
    --color-sky: #89dceb;
    --color-sapphire: #74c7ec;
    --color-blue: #89b4fa;
    --color-lavender: #b4befe;    /* My fav :) */

    --color-text: #cdd6f4;
    --color-subtext1: #bac2de;
    --color-subtext0: #a6adc8;
    --color-overlay2: #9399b2;
    --color-overlay1: #7f849c;
    --color-overlay0: #6c7086;
    --color-surface2: #585b70;
    --color-surface1: #45475a;
    --color-surface0: #313244;
    --color-base: #1e1e2e;
    --color-mantle: #181825;
    --color-crust: #11111b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}

html {
    font-family: NotoSansNF,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-text);
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    padding: 0;
    height: 100%;
    background-color: var(--color-crust);
}

a {
    text-decoration: none;
    color: var(--color-blue);
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0em;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;  /* If cropped, how, dep on picture */
}

table {
    table-layout: fixed;
    width: min(1000px, 100%);
    text-align: left;
}

.page-content {    /* To allow separate colors for contents and footer */
    padding: 1em;
    background-color: var(--color-base); /* This so I can have empty space under
    footer on vertical tabs blend in with the footer */
}

/* || Top navigation/header stuff || */

.topNav {
    margin: 0em auto 0em auto;
    width: min(1000px, 100%);
    background-color: var(--color-mantle);
    display: flex;
    list-style-type: none;
    overflow: hidden;
}

.topNav .menuLinks {
    display: flex;
    list-style-type: none;
    gap: 2em;
    margin-left: auto;
}

.topNav #navTitle {
    margin-right: auto;
    font-weight: bold;
}

.topNav a.icon {
    display: none;
}

.topNav a {
    text-decoration: none;
    color: var(--color-text);
    display: block;
    padding: 0.5em 0.5em;
}

.topNav a:hover {
    text-decoration: underline;
}

header {
    margin: 0 auto;
    margin-top: 1em;
    width: min(75em, 100%);
    background-color: var(--color-mantle);
    padding: min(2em, 15%);
    border-radius: 0em;
    border: 2px solid var(--color-lavender);
}

/* Active page color in header */

.menuLinks .activePage,
.topNav .activePage {
    color: var(--color-lavender);
    font-weight: bold;
    /* text-decoration: underline; */
}

.flex-container {
    display: flex;
    margin-top: 2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

.text-container {
    flex: 0 1 34em; /* Keeps text in readable width */
}

.text-container a {
    margin: .3em;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.1rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-surface0);
    padding: .5em 1em;
    border-radius: 0em;
    font-weight: 600;
    border: 2px solid var(--color-surface1);
    transition: 100ms ease;
}

.cta-button:hover {
    background-color: var(--color-surface1);
    border-color: var(--color-surface2);
    scale: 1.03;
    text-decoration: none;
}

.secondary {   /* Currently unused and colors are scuffed */
    background-color: #b4befecb;
    border: 2px solid var(--color-lavender);
}

.small-textbox {
    display: inline-block;
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-base);
    padding: .5em 1em;
    border-radius: 0em;
    font-weight: 600;
    font-size: 3;
    border: 2px solid var(--color-surface0);
}


section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-mantle);
    border: 2px solid;
    text-align: left;
    margin: 2em auto;
    width: min(75em, 100%);
}

section img {
    max-width: 100%;
    border-radius: 0em;
    object-fit: cover;
    object-position: center;
}

section p {
    margin-top: 1em;
}

/* || Systeminfo in about || */

.systeminfo {
    border-color: var(--color-maroon);
    padding: 5em 0em;
    text-align: center;
}

.systeminfo table {
    margin-left: auto;
    margin-right: auto;
    width: min(50em, 80%);
    background-color: var(--color-base);
}

.systeminfo table, 
.systeminfo td, 
.systeminfo th {
    border: 1px solid var(--color-surface0);
    border-collapse: collapse;
    padding: 0.5em;
}

/* Link list icon config */

.link-container {
    border: 2px solid var(--color-text);
    background-color: var(--color-base);
    width: (50em, 80%);
    margin-left: 1.5em;
    margin-right: 1.5em;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2em;
    margin-bottom: 2em;
}

.link-container .text-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}

.link-container #large-link-icon {
    scale: 8;
    margin: 4em;
    padding: -4em;
}

.link-container #small-link-icon {
    display: none;
}

.link-container .cta-button,
.link-container .small-textbox {
    font-size: large;
    margin-left: 0;
}

/* || Footer || */

footer {
    width: 100%;
    background-color: var(--color-crust);
    padding: 1em 0;
    text-align: center;
    border-top: 2px solid var(--color-mantle);
    height: auto;
}

footer li {
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

footer a {
    color: var(--color-text);
    font-style: none;
    text-decoration: none;
    padding: 0.4em;
}

footer a:hover {
    text-decoration: underline;
}



/* || Small Devices || */

@media(max-width: 1100px) {  /* These will only apply to screens <1101px */
    .text-container {
        padding-top: 0;
        text-align: center;
    }

    .link-container .text-container {
        text-align: left;
    }
}

@media(max-width: 640px) {  /* For mobile, hamb. menu, less padding etc. */

    .topNav .menuLinks {
        display: none;
        margin-left: auto;
        margin-right: auto;
    }

    .topNav #navTitle {
        display: flex;
        justify-content: center;
    }

    .topNav .hamburger {
        margin-left: auto;
        display: flex;
    }

    .topNav a.icon {
        display: flex;
    }

    header {
        margin-top: 0;
    }

    .cta-button,
    .small-textbox {
        margin-top: 0.5em;
        width: 100%;
    }

    /* Link page has interesting stuff with the icons, has to be here as well */

    .link-container #large-link-icon {
        display: none;
    }

    .link-container #small-link-icon {
        display: initial;
    }

    .link-container .text-container {
        padding: 0;
    }

    .link-container {    /* These two for fixing link padding issues on mobile */       
        padding: 1em;
    }               

    #ProfileLinks {
        padding: 0.2em;
    }
}    

/* || Transitions between pages || */
/* White flash on chromium? Does not yet work on firefox */

@view-transition {
    navigation: none;
}


